[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
pygsheets = "*"
firebase-admin = "*"
google-cloud-firestore = "*"
pip = "*"
graphviz = "*"
flask = "*"
python-dotenv = "*"
chardet = "*"
click = "*"
future = "*"
line-bot-sdk = "*"
transitions = "*"

[dev-packages]

[requires]
python_version = "3.10"
